<div class="row">
  <div class="span12">
    <h1>Clueless <small><em>treat yo self</em></small></h1>
    <%= image_tag 'closet.png' %><br/><br/>
    <p><%= link_to 'Add new clothing article', new_clothing_article_path, class: 'btn btn-primary' %></p>
  </div>
</div>